@import 'tailwindcss';

html,
body {
  @apply w-full h-full m-0 p-0 overflow-y-auto overflow-x-hidden;
  scroll-behavior: smooth;
}

button {
  @apply cursor-pointer;
}

a {
  @apply no-underline outline-none;
}

img,
table,
button {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

@theme {
  --color-background: rgb(255, 255, 255);
  --color-primary: rgb(241, 101, 122);
  --color-secondary: rgb(231, 183, 152);
  --color-title: rgb(255, 255, 255);
  --color-subtitle: rgb(83, 45, 54);
  --color-regular: rgb(73, 54, 61);
  --color-light: rgb(147, 108, 118);
  --color-opaque: rgb(140, 115, 123);
  --color-textarea: rgb(115, 115, 115);
}

@layer utilities {
  .no-select {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  .divider-gradient {
    background: linear-gradient(
      to right,
      transparent 0%,
      var(--color-primary),
      transparent 100%
    );
  }

  .animate-reveal-blur {
    animation: revealBlur 0.8s ease-out forwards;
  }

  .bg-css-noise {
    background-color: #e8b57f;
    position: relative;
  }

  .bg-css-noise::after {
    content: '';
    position: absolute;
    inset: 0;
    pointer-events: none;
    background-image: radial-gradient(
      circle,
      rgba(0, 0, 0, 0.1) 1px,
      transparent 1px
    );
    background-size: 2px 2px;
    opacity: 0.2;
  }
}

@layer components {
  .content-card {
    @apply bg-background py-8 px-4 md:p-8 max-w-[95vw] md:min-w-[80vw] border-1 border-[rgba(237,228,222,1)] rounded-lg shadow-[0px_4px_24px_-4px_rgba(83,45,54,0.1)];
    @apply flex flex-col gap-4 items-center;
  }

  .timer-card {
    @apply bg-linear-to-br from-primary to-secondary w-16 h-15 md:w-20 md:h-18 rounded-lg shadow-[0px_4px_24px_-4px_rgba(83,45,54,0.2)] flex items-center justify-center;
  }
}

@keyframes revealBlur {
  0% {
    filter: blur(20px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
