@layer design-system {
  .typography {
    p {
      font-size: var(--text-base);
      color: var(--color-text-regular);
    }
    p.light {
      font-size: var(--text-sm);
      color: var(--color-text-light);
    }
    p.opaque {
      font-size: var(--text-sx);
      color: var(--color-text-opaque);
    }
    h1 {
      font-size: var(--text-4xl--line-height);
      font-weight: 700px;
      color: var(--color-text-title);
    }
    h2 {
      font-size: var(--text-2xl--line-height);
      font-weight: 700px;
      color: var(--color-text-subtitle);
    }
    h3 {
      font-size: var(--text-lg);
      font-weight: 700px;
      color: var(--color-primary);
    }
  }
}
